body {
  background: var(--ui-color-bg);
  color: var(--ui-color-text);
}
textarea {
  resize: vertical;
  /* workaround for right alignment in FF */
  padding-right: 2px;
  min-height: 2em;
  max-height: 20em;
}
button {
  background: var(--ui-color-button);
  border-color: var(--ui-color-border);
}
:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em var(--ui-color-focus);
}
button.hero {
  background: var(--ui-color-hero);
}
fieldset > label, form > label {
  clear: both;
  float: left;
  width: 18%;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}
fieldset>label {
  margin-right: 0.5em;
  padding-top: 0.1em;
}
form>label {
  margin-left: 0.75em;
  margin-right: 0.5em;
  padding-top: 0.1em;
}
fieldset>:not(label):not(legend) {
  min-width: 72%;
  width: 72%;
  margin-bottom: 0.5em;
  white-space: nowrap;
}
form>:not(label):not(fieldset) {
  min-width: 70%;
  width: 70%;
  margin-bottom: 0.5em;
  white-space: nowrap;
}
ui-vpanel {
  display: flex;
  flex-direction: column;
}
ui-hpanel {
  display: flex;
  flex-direction: row;
}
*[aria-hidden=true], .hidden {
  display:none;
}
ui-tabs {
	display: inline-flex;
}
ui-tabs button {
  padding: 0.5em 0.5em;
  border: solid;
  border-radius: 0.5em 0.5em 0 0;
  border-width: 1px;
  border-color: var(--ui-color-border);
  cursor: pointer;
  text-overflow: ellipsis;
  /* background: var(--ui-color-tab); */
}
ui-tabs button[aria-selected="true"] {
  font-weight: bold;
  border-bottom-width: 0;
  background: var(--ui-color-active);
}
ui-tabpanel section {
  border: solid;
  border-width: 0 1px 1px 1px;
  border-color: var(--ui-color-border);
  background: var(--ui-color-active);
  padding: 0.5em;
}