:root {
  --ui-color-bg: #FFFFFF;
  --ui-color-text: #000000;
  --ui-color-focus: #0000FF;
  --ui-color-hero: #00FF00;
  --ui-color-border: #777777;
  --ui-color-button: linear-gradient(#FAFAFA, #EEEEEE);
  --ui-color-tab: linear-gradient(#DDDDDD, #777777);
  --ui-color-active: #F7F7FF;
}